.cart {
    background-color: #9eb7db;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    margin: 0 auto;
  }
  
  h2 {
    color: white;
    text-align: left;
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7299C6;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 10px;
  }
  
  .poster {
    width: 80px;
    height: 120px;
    border-radius: 8px;
  }
  
  .details {
    flex: 1;
    padding: 0 15px;
  }
  
  .details h3 {
    margin: 0;
    color: white;
  }
  
  .details p {
    margin: 5px 0;
    color: white;
  }
  
  .quantity-controls {
    display: flex;
    align-items: center;
  }
  
  .quantity-controls button {
    background-color: white;
    border: none;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 1.2rem;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .quantity-controls span {
    color: white;
    font-size: 1rem;
  }
  
  .actions {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .remove-btn {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 1rem;
  }
  
  .trash-btn {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
  }
  
  .fa-trash {
    font-size: 1.2rem;
  }