.checkout-infromtaion {
    padding: 20px;
    font-family: Arial, sans-serif;
    color: #333;
  }
  

  .back-link {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    background-color: #7299C6;
    padding: 8px 12px;
    border-radius: 5px;
  }
  
  .form-logo {
    width: 60px;
  }
  

  .checkout-information {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .information-section {
    background-color: #9eb7db;
    border-radius: 10px;
    padding: 20px;
    flex: 1;
  }

  .information-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  
  .information-grid input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
  }
  

  .full-width {
    grid-column: span 2;
  }
  

  .pay-button {
    background-color: #7299C6;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
  }
  
  .pay-button:hover {
    background-color: #5a87b1;
  }
  
  