.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 30px;
  background-color: rgba(24, 49, 69, 0.95);
  color: rgb(227, 227, 227);
  width: 100%;
  position: fixed; 
  top: 0;
  left: 0;
  z-index: 1000;
  box-sizing: border-box;
}

.nav-left {
  display: flex;
  align-items: center;
}

.logo img {
  margin-right: 20px;
  width: 80px;
}

.nav a {
  margin: 0 10px;
  color: rgb(240, 240, 240);
  text-decoration: none;
  font-weight: bold;
}

.nav-right {
  margin-left: auto;
}

.cart-link {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  padding: 20px;
  margin: 0;
  font-size: 40px;
  display: flex;
  align-items: center;
}

.cart-link:hover {
  opacity: 0.8;
}

/* Cart dropdownmenu */
.cart-dropdown {
  position: absolute;
  top: 92px; /* Depending on header height */
  right: 0px;
  background-color: rgba(24, 49, 69, 0.95);
  color: rgb(239, 239, 239);
  border-radius: 0px;
  padding: 10px;
  z-index: 1001;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.cart-dropdown ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.cart-dropdown li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.cart-dropdown li:last-child {
  border-bottom: none;
}

/* Button to checkout */
.checkout-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #2c5d95;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.checkout-button:hover {
  background-color: #5882b2; 
}