.sum-order-summary {
  background-color: rgba(24, 49, 69, 0.95);
    padding: 20px;
    border-radius: 10px;
    max-width: 300px; 
    margin: 0 auto; 
    font-family: 'Arial', sans-serif;
    color: white;
  }
  
  h3 {
    font-size: 1.2rem;
    margin-bottom: 20px;
    text-align: left;
  }
  
  .sum-shipping-section {
    display: flex;
    justify-content: space-between; 
    margin-bottom: 10px;
  }
  
  hr {
    border: 1px solid rgba(255, 255, 255, 0.5); 
    margin: 20px 0;
  }
  
  .sum-to-pay-section {
    background-color: rgba(19, 44, 65, 0.95);
    padding: 10px;
    border-radius: 8px;
  }
  
  .sum-questions-section {
    margin-top: 20px;
  }
  
  .sum-questions-section p {
    margin: 5px 0;
  }
  
  .sum-pay-button {
    background-color: rgba(19, 44, 65, 0.95);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
  }
  
  .sum-pay-button:hover {
    background-color: rgba(31, 76, 113, 0.95);
  }
  @media (max-width: 768px) {
    .sum-order-summary {
        max-width: 90%; 
        padding: 15px;  
    }

    h3 {
        font-size: 1rem; 
        text-align: center; 
    }

    .sum-shipping-section, .sum-to-pay-section {
        flex-direction: column; 
        align-items: flex-start; 
    }

    .sum-shipping-section p, .sum-to-pay-section p {
        margin-bottom: 5px; 
    }

    .sum-pay-button {
        padding: 8px 15px; 
        font-size: 0.9rem; 
    }
}