.search-bar {

    padding-top: 150px;
    color: rgba(255, 255, 255, 0.947);
    font-weight: bold;
    text-shadow: black 2px 2px;
    font-size: 2em;  
    width: 100%;
  }  
  .search-bar p {
    color: rgba(255, 255, 255, 0.947);
    font-weight: bold;
    text-shadow: black 2px 2px; 
  }
  
  .search-input input {
    padding: 14px;
    width: 50%;
    border-radius: 10px;
  }
  
  .search-button {
    padding: 10px;
    margin-left: -40px;
    cursor: pointer;
    background: none;
    border: 0;
  }
  .background-searchbar-title {
    background-color: #7299c6af;
    text-align: center;
    padding: 30px;

  }
  .background-searchbar-title p {
    color: #ffffff;
    font-weight: bold;
    font-size: 1em;
    padding: 10px;
    text-shadow: rgb(55, 55, 55) 2px 2px; 
  
}