.search-bar {
    text-align: center;
    width: 100%;
  }
  
  .search-input {
    margin-top: 20px;
  }
  
  .search-input input {
    padding: 10px;
    width: 300px;
  }
  
  .search-button {
    padding: 10px;
    margin-left: -4px;
    cursor: pointer;
  }
  