.search-bar {
    padding: 150px;
    text-align: center;
    color: rgba(255, 255, 255, 0.947);
    font-weight: bold;
    text-shadow: black 2px 2px;
    font-size: 2em;  
  }  
  .search-bar p {
    color: rgba(255, 255, 255, 0.947);
    font-weight: bold;
    text-shadow: black 2px 2px; 
  }
  
  .search-input input {
    padding: 14px;
    width: 50%;
    border-radius: 10px;
  }
  
  .search-button {
    padding: 10px;
    margin-left: -40px;
    cursor: pointer;
    background: none;
    border: 0;
  }
  