.category-sidebar {
  width: 150px;
  padding: 20px;
  border-right: 1px solid #000;
}

.category-sidebar li {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  cursor: pointer; /* Show that the item is clickable */
}

.category-sidebar a {
  color: #000; /* Default text color */
  text-decoration: none;
}

/* Change text color on hover */
.category-sidebar li:hover a {
  color: rgb(40, 127, 230); /* Text color changes to blue on hover */
  text-decoration: underline;
}
