
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: white;
  color: grey;
}

/* App container */
.app-container {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
}

.search-container {
  border-top: solid 0px rgb(90, 89, 89);
  border-bottom: solid 0px rgb(90, 89, 89);
  width: 100%;
  position: sticky;
  background-image: url('assets/banner.webp');
  background-size: cover;
  height: 500px;
  margin-bottom: 20px;
}
.main-layout {
  display: flex;

}
