/* Globala stilar för att nollställa standardvärden */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: white;
  color: grey;
}

/* App container */
.app-container {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
}


.search-container {
  width: 100%;
  padding: 20px;
}

.main-layout {
  display: flex;

}
